# <center> Importing Data from RDS
Source: http://datascience-enthusiast.com/R/AWS_RDS_R_Python.html

In [2]:
# import pymysql and pandas information
import pandas as pd
import pymysql

# setting up db  connection parameters 
host="forrpython.cab6rvva6lca.us-east-1.rds.amazonaws.com"
port=3306
user="your_username"
password="your_password"

conn = pymysql.connect(host, user=user,port=port, 
                       passwd=password)

In [7]:
# read sql data with pandas
df = pd.read_sql('SELECT * from country;',con=conn)
df.sample(5)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
214,TUN,Tunisia,Africa,Northern Africa,163610.0,1956.0,9586000,73.7,20026.0,18898.0,Tunis/Tunisie,Republic,Zine al-Abidine Ben Ali,3349.0,TN
178,QAT,Qatar,Asia,Middle East,11000.0,1971.0,599000,72.4,9472.0,8920.0,Qatar,Monarchy,Hamad ibn Khalifa al-Thani,2973.0,QA
232,WLF,Wallis and Futuna,Oceania,Polynesia,200.0,NaN,15000,NaN,0.0,NaN,Wallis-et-Futuna,Nonmetropolitan Territory of France,Jacques Chirac,3536.0,WF
32,BRN,Brunei,Asia,Southeast Asia,5765.0,1984.0,328000,73.6,11705.0,12460.0,Brunei Darussalam,Monarchy (Sultanate),Haji Hassan al-Bolkiah,538.0,BN
120,LBR,Liberia,Africa,Western Africa,111369.0,1847.0,3154000,51.0,2012.0,NaN,Liberia,Republic,Charles Taylor,2440.0,LR