### Standardization

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Creating Dataframe
df = pd.DataFrame(data = {'Feature 1': np.random.randint(50,100, size=10),
                 'Feature 2': np.random.randint(0,100, size= 10),
                 'Feature 3': np.random.randint(0,100, size=10),
                 'Feature 4': np.random.randint(0,100, size=10)})

In [5]:
# View the dataframe
df

   Feature 1  Feature 2  Feature 3  Feature 4
0         75         65         99         97
1         69         42          3          7
2         79         24         46         18
3         73         44         65         48
4         91         41         99         97
5         88         18         14         72
6         72         20         99         30
7         85         19         34         70
8         91         89          5         80
9         75         93         27         11

In [7]:
# Standardize Features
scaler = StandardScaler()
df = pd.DataFrame(data=scaler.fit_transform(df), columns=df.columns)

In [8]:
# View standardized DataFrame
df

   Feature 1  Feature 2  Feature 3  Feature 4
0  -0.611775   0.730050   1.345659   1.332111
1  -1.376494  -0.131035  -1.243184  -1.392661
2  -0.101963  -0.804927  -0.083598  -1.059633
3  -0.866682  -0.056158   0.428777  -0.151376
4   1.427476  -0.168473   1.345659   1.332111
5   1.045116  -1.029558  -0.946546   0.575230
6  -0.994135  -0.954681   1.345659  -0.696331
7   0.662757  -0.992120  -0.407203   0.514679
8   1.427476   1.628574  -1.189250   0.817432
9  -0.611775   1.778328  -0.595973  -1.271560